/* .box{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(231, 221, 221, 0.728);
  }
  
  .container {
    padding: 2px 16px;
  }

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.start .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: #faff5a;
}

#form{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

#form .userid{
    padding: .7em 2em;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 1em;
} */



body {
  background-color: #f0f0f0;  
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color:  rgb(144, 201, 196);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  color: #0a0a0b;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.btn-logout {
  border: none;
  outline: none;
  padding: 12px 20px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}

.btn-logout:hover {
  background-color: #bd2130;
} 

/* 
#form {
  text-align: center;
}

.userid {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.start {
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
} 

 */
